footer{
    margin-top:auto;
    padding: 1rem;
    background-color:#444444;
    color: #ffffff;
  }
  #Logo{
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    font-weight:600;
  }
  #Footer-Buttons{
    width:30%;
    display: flex;
    justify-content: space-evenly;
  }
  